.footer {
    width: 100%;
    background-color: #12123f;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
}

.estilos{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 40px;
    margin-right: 30px;
}

.estilos li {
    margin: 0 15px;
}

.estilos svg {
    cursor: pointer; 
    transition: transform 0.3s ease; /* aplica o efeito hover*/
}

.estilos svg:hover {
    transform: scale(1.2); /* aumenta o tamanho do icone quando passa o mouse */
}

.estilos a {
    color: white;
}