.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .justify-content-center {
    justify-content: center !important;
  }
  .d-flex {
    display: flex !important;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
  }
  body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
  }
  .nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #000000;
    --bs-nav-pills-link-active-bg: #0fdbc0;
  }
  .nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
  }
  .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
  }
  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
      background-color: rgba(0, 0, 0, 0);
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  
  :root {
    --bs-link-color: #43f3cd; /* Exemplo: Azul padrão do Bootstrap */
    --bs-link-hover-color: #23b6a2; /* Azul mais escuro ao passar o mouse */
    --bs-secondary-color: #000000; /* Cinza padrão para links desativados */
    --bs-nav-link-font-weight: 500; /* Exemplo de peso da fonte */
  }
  
  h1{
    text-align: center;
    color: white;
  }
  
  h2{
    color: white;
  }
  
  p{
    color: white;
    margin: 30px;
  }
  
  .sobre{
    margin-left: 30px;
  }
  
  .mapa{
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .grupos{
    margin-left: 30px;
    margin-top: 30px;
  }
  
  iframe {
    display: block;
    margin: 0 auto;
  }
  
  body{
    background-color: #252424;
  }