.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
}
h1{
  text-align: center;
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
  margin: 30px;
}

.sobre{
  margin-left: 30px;
}

.mapa{
  margin-left: 30px;
  margin-top: 30px;
}

.grupos{
  margin-left: 30px;
  margin-top: 30px;
}

iframe {
  display: block;
  margin: 0 auto;
}

body{
  background-color: #87e2de;
}